


@media only screen and (max-width: 1210px){

/* ------------------ pag INDEX ----------------------- */
    
    .main_video--contenedor{
        width: 90%;
        padding: 0%;
        padding-left: 1rem;
        padding-top: 1.5rem;
        min-width: 27rem;
        min-height: 19rem;
    }
    h4{
        font-size: 1.1rem;        
    }
    .page__title{
        top: 15% !important;
        left: 0%;  
        right: 0%;
    }
    h1{
        font-size: 4.3rem;
    }
    .page__subtitle{
        top: 35% !important;
        left: 0%;  
        right: 0%;
        padding: 0.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .main__btn {
        top: 55% !important;
        left: 0%;  
        right: 0%;
    }

    .botonesheader{
        display: inline-block;
        padding: 0.5rem 1rem;
    }

    .footer__escrito{
        justify-content: space-evenly;
        align-items: center;
    }

/* -------------- pag CONTACTANOS ----------------------- */


.logo__formulario{
    max-height: 22rem;
}

.main__contactanos--titulo{
    top: 45% !important;
}


/* -------------- pag LOGIN ----------------------- */


.form__login{
    padding: 3rem 10rem !important;
}


/* ---------------- pag CAPACITACION ----------------------- */


.showcase__capacitacion p {
    padding-top: 0.1rem !important;
}


}

/* -------------------------- T A B L E T ----------------------------------- */


@media only screen and (max-width: 840px){

/* ------------------ pag INDEX ----------------------- */

    h4{
        font-size: 1.1rem;        
    }

    .main_video--contenedor{
        min-width: 18rem;
        min-height: 9.2rem;
        
    }
    .page__subtitle h2 {
        font-size: 1rem !important;
        font-weight: 500 !important;
    }


    .main__btn {
        top: 45% !important;
    }

    h1{
        font-size: 3.8rem !important;
    }
   

    .quieroinscribirme{
        padding: 0.5rem 0.75rem !important;

    }

    .header__boton_desplegable{
    display: block;
    }

    .header__navegador{
        position: absolute;
        background-color: rgba(105, 105, 105, 0.708);
        flex-direction: column;
        z-index: 100;
        align-items: center;
        right: 0%;
        top: 5.2rem;
        height: 50%;
        justify-content: space-around;
        
    }

    #menu-check:not(:checked) ~ .header__navegador{
        display: none;
    }

    #menu-check:checked ~ .header__navegador{
        display: flex;
    }

/* -------------- pag LOGIN ----------------------- */


.main_input{
    width: auto !important;
}

.form__login{
    padding: 1.5rem 5rem !important;
}



/* ---------------- pag CONTACTANOS ----------------------- */

.main__logo--formulario{
    display: none;
}

.main__contactanos--titulo--hijo{
    font-size: 4rem !important;
}

.main__formulario--contenedor{
    grid-template-columns: 1fr !important;
}


/* ------------------ pag EVENTOS ----------------------- */

.showcase__cards{
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    margin: 1rem 4rem !important;
    gap: 1.5rem !important;
}

.showcase__cards h5 {
    font-size: 3.5rem !important;
}


/* ---------------- pag CAPACITACION ----------------------- */

.showcase__capacitacion p {
    padding-top: 0.1rem !important;
}

.banner1 h5 {
    margin-right: 1rem;
}

.banner__contenido div{
    margin-top: 1rem;
}

.cards__capacitacion{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr !important;
}




}


/* -------------------------- C E L U L A R ------------------------------------- */


@media only screen and (max-width: 540px){

.header__index{
    width: 100%;
}

.header__nav{
    width: 100%;
}

.header__boton_desplegable{
    margin-top: 0.2rem;
}

.header__buscador{
    padding-left:3rem;
    width: fit-content;
    line-height: 0.1rem;
}

.header__buscador--input{
    font-size: 0.5rem;
}

.header__logo--celu{
    height: 4rem;
}

.header__loginbtn{
    font-size: smaller;
    padding: 0.4rem;
    margin: 0.4rem;
}

.header__navegador{
    top: 4.2rem !important;
}

.footer__nav p{
    font-size: 0.7rem;
}

.footer__nav a{
    font-size: 0.7rem;
}



/* ------------------ pag INDEX ----------------------- */

.page__subtitle h2 {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
}

.page__subtitle{
    top: 20% !important;

}

.page__title{
    top: 12% !important;
}

h1{
    font-size: 1.8rem !important;
}

.main__btn {
    top: 35% !important;
}

.quieroinscribirme{
    padding: 0.3rem !important;
    font-size:medium !important;
}

.video {
    flex-direction: column;
}

h4{
    text-align: center;
}

.main{
    &_video--contenedor{
        width: 100% !important;
        padding: 5vw !important;
    }


    &__videodescription {
        height: auto !important;
        width: auto !important;
        padding-bottom: 0;
    }

}

/* -------------- pag LOGIN ----------------------- */

.main__login{
    height: 80vh !important;
}


/* ------------------ pag EVENTOS ----------------------- */

.showcase__cards{
    margin: 1rem 1rem !important;
    gap: 1rem !important;
}

.showcase h1{
    font-size: 2.5rem !important;
}

.showcase__cards h5 {
    font-size: 2rem !important;
}

/* -------------- pag CONTACTANOS ----------------------- */

.main__contactanos--titulo--hijo{
    font-size: 3.5rem !important;
}

.main__contactanos--titulo{
    top: 70%
}  


/* ---------------- pag CAPACITACION ----------------------- */

.showcase__capacitacion h1 {
    font-size: 2.5rem !important;
    padding-bottom: 1rem !important;
}

.showcase__capacitacion p{
    font-size: 1rem !important;
} 


.banner__titulo h2{
    font-size: 2.5rem !important;
}

.banner__contenido label{
    font-size: 0.8rem !important;
}

.banner__contenido h5{
    font-size: 1rem !important;
}

.banner__contenido--padre{
    padding: 0 0.75rem !important;
    flex-direction: column;
}

.cards__capacitacion--individuales h3{
    font-size: 2rem !important;
}

.banner__contenido--inputs input{
    margin-top: 0.65rem !important;
}

.cards__capacitacion{
    margin: 0.3rem 0.3rem !important;
}


}




@media only screen and (max-width: 370px){

.main__btn {
    top: 37% !important;
}

.video{
    padding-top: 3rem;
 }


 .main_video--contenedor{
    height: auto !important;
    width: auto !important;
    padding: 0.1rem !important;
    display: flex !important;
    justify-content: center !important;
 }

.main__video{
    width: auto !important;

}

.page__subtitle{
    top: 20% !important;
}

.page__title{
    top: 13% !important;
}



/* ------------------ pag EVENTOS ----------------------- */

.showcase h1{
    font-size: 2rem !important;
    justify-self: center !important;
}


.fa-angles-right{
    margin-bottom: 0.5rem !important;
}


/* -------------- pag LOGIN ----------------------- */


.form__login{
    padding: 1.5rem 2rem !important;
}


/* ---------------- pag CAPACITACION ----------------------- */

.showcase__capacitacion h1 {
    font-size: 1.9rem !important;
}

.banner__titulo h2{
    font-size: 2.2rem !important;
}


}
