@import "variables";
@import "foot&head";
@import "mediaquerrys";


* {font-family: 'Cabin', sans-serif; 
    font-weight: bold;
    font-size: 20px;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main {
    background-color: black;
}

h1 {font-family:'Square Peg';
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 5px 5px 2px black;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.page{
    &__foto{
    filter: blur(3px);
    padding: 0%;
    width: 100%; 
    } 
    &__title{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0%;  
    right: 0%;
}

    &__subtitle{
    text-align: center;
    position: absolute;
    top: 68%;
    left: 0%;  
    right: 0%;
    color: aliceblue;
    text-shadow: 3px 3px 2px black;
    text-shadow: 3px 3px 2px black;
}
}

.main__btn {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 0%;  
    right: 0%;
} 

.quieroinscribirme {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.quieroinscribirme:hover {
    background-color: rgb(207, 135, 76);
    box-shadow: 0px 0px 10px rgba(249, 255, 195, 0.959), 0px 0px 10px rgb(253, 252, 198);
    cursor: pointer;
}

.video {
    display: flex;
}

.main_video--contenedor{
    width: 80%;
    height: 22.5rem;
    padding: 2rem;
}


.main__video {
    align-items: left;
    width: 100%;
    height: 100%;
    
}

.main__videodescription {
    height: 22rem;
    width: 25rem;
    padding: 1.5rem;
    align-self: center;
}



/* -------------- pag LOGIN ----------------------- */

.main__login{
    background-color: rgb(18, 29, 36);
}

.form__login{
    margin: auto;
    padding: 5rem 18rem;
    width: 100%;
    height: 100%;
}

.main_input{
    font-family: Karla;
    background-clip: padding-box;
    width: 30rem;
    padding: 1rem 0.8rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.form__login--etiqueta{
    color: #fff;
    margin: 0;
    padding: 0;
}

.form__login--submit{
    display:inline-block ;    
    padding: 0.5rem;
    margin: 0.7rem;
    justify-content: center;
    background-color: rgb(207, 135, 76) ;
    border-radius: 40px;
}


.form__login--submit:hover{
    background-color: rgb(189, 109, 45);
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(249, 255, 195, 0.959), 0px 0px 8px rgb(253, 252, 198);
    transition: 0.3s;
}



/* -------------- pag CONTACTANOS ----------------------- */

.main__contactanos--foto{
    padding: 0%;
    width: 95%;
    height: 25rem;
    margin: 0px auto;
    display: block;
    filter: blur(1px) grayscale(45%);    
}

.main__contactanos--titulo{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 4%;
    text-shadow: 5px 5px 2px black;
}  

.main__contactanos--titulo--hijo{
    font-family:'Square Peg';
    font-size: 5rem;
    color: rgb(255, 165, 55);
}

.main__formulario--contenedor{
    padding: 1rem 2.5rem;
    color: #fff;
}

.main__formulario{
    display: flex;
    flex-direction: column;
}

.contactanos__input{
    font-family: Karla;
    background-clip: padding-box;
    width: 100%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form__form--etiqueta{
    margin: 0;
    padding: 0;
    font-family: Karla;
    font-weight: 500;
}

.main__formulario--contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.form__btn{  
    padding: 0.5rem;
    margin: 0.7rem;
    justify-content: center;
    background-color: rgb(207, 135, 76) ;
    border-radius: 40px;
}

.form__btn:hover{
    background-color: rgb(190, 118, 58);
    cursor: pointer;
}

.contactanos__mapa--contenedor{
    margin-left: 2.5rem;
    margin-top: 0;
    padding-top: 0;
    margin-right: 2.5rem;
    padding-bottom: 0.5rem;
}

.contactanos__mapa{
    width: 100%;
}




/* -------------- pag EVENTOS ----------------------- */

.showcase{
    width: 100%;
    height: 18rem;
    background: url(../recursos/eventos.gif) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    &__title{
        font-size: 4rem !important;
        padding-bottom: 2rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;


    }

    &__subtitle{
        color: aliceblue;
        text-shadow: 3px 3px 2px black;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 0.3rem 1rem;
        margin-bottom: 3rem;
    
    }

    &__cards--individuales{
        background-color: rgb(18, 29, 36) ;
        padding: 0 0.4rem;
        border-radius: 10px;
    }


    &__cards img {
        width: 100%;
        height: 19rem;  
    }

    &__cards h5 {
        @extend .main__contactanos--titulo--hijo ;
        font-size: 1.8rem;
        padding-bottom: 0.5rem;
    }

    &__cards p{
        @extend .showcase__subtitle ;
        padding: 0;
        padding-bottom: 1rem;
        padding-top: 0.3rem;
        font-weight: 500;
    }

    &__cards a {
        font-weight: 500;
        padding: 1rem 0;
    }

    &__cards i {
        font-size: 0.7rem;
    }
}



